<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <h1 class="text-center">project List</h1>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Project Name</th>
            <th class="text-center">Vorgehensmodell</th>
            <th class="text-center">Aktivitäten</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects">
            <td>{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.vorgehensart }}</td>
            <td>{{ project.activities }}</td>

            <td>
              <button
                type="button"
                class="btn btn-info btn-sm mr-2"
                (click)="showEditprojectForm(project)"
              >
                Edit
              </button>

              <button
                type="button"
                class="btn btn-danger btn-sm"
                (click)="removeproject(project)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success" (click)="showAddprojectForm()">
        Add New project
      </button>

      <div class="mt-4">
        <form *ngIf="projectForm">
          <h2>Add New project</h2>
          <p>
            Project Name:
            <input type="text" name="name" [(ngModel)]="newproject.name" />
          </p>
          <p>
            Vorgehensmodell Name:
            <input
              type="text"
              name="name"
              [(ngModel)]="newproject.vorgehensart"
            />
          </p>
          <p>
            activities:
            <input
              type="text"
              name="activities"
              [(ngModel)]="newproject.activities"
            />
          </p>
          <p>
            <button
              type="button"
              class="btn btn-primary mr-2"
              (click)="saveproject(newproject)"
            >
              Submit
            </button>
            <button
              type="button"
              class="btn btn-warning"
              (click)="cancelNewproject()"
            >
              Cancel
            </button>
          </p>
        </form>

        <form *ngIf="editprojectForm">
          <h2>Edit project Details</h2>
          <p>
            Project Name
            <input type="text" name="name" [(ngModel)]="editedproject.name" />
          </p>
          <p>
            Vorgehensmodell:
            <input
              type="text"
              name="vorgehensmodell"
              [(ngModel)]="editedproject.vorgehensart"
            />
          </p>
          <p>
            Activities:
            <input
              type="text"
              name="activities"
              [(ngModel)]="editedproject.activities"
            />
          </p>
          <p>
            <button
              type="button"
              class="btn btn-primary mr-2"
              (click)="updateproject()"
            >
              Submit
            </button>
            <button
              type="button"
              class="btn btn-warning"
              (click)="cancelEdits()"
            >
              Cancel
            </button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
